<?xml version="1.0" encoding="utf-8" ?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<targets >
		<target name="AllLogs" xsi:type="File" fileName="C:\Users\P129CBD\source\repos\StudentRegistrationSystem\allLogFile_${shortdate}.txt"
			keepFileOpen="true"
			encoding="utf-8"
			layout="  
			--------------------- ${level}(${longdate})-------------------- ${newline}  
			${newline}   
			Exception Message:${exception:format=Message}${newline}  
			Stack Trace:${exception:format=Stack Trace}${newline}  
			Additional Info:${message}${newline}  
			" >
		</target>
		
	</targets>
	<!--End Targets-->
	<rules>
		<logger name="*" minlevel="Debug" writeTo="AllLogs" />
	</rules>
</nlog>