<!DOCTYPE html>
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/LoginRegister.css">
    <script type="text/javascript" src="~/Scripts/Register.js"></script>
    <script type="text/javascript" src="~/Scripts/AjaxScript.js"></script>
    <title>University Registration</title>
</head>
<legend>
    Student Registration
</legend>
<body>

    <form id="form">

        <div class="form-control">
            <label for="firstName" id="label-name">First Name</label>
            <input type="text" id="firstname" placeholder="Enter your First Name" />
        </div>
        <div class="form-control">
            <label for="lastName" id="label-name">Last Name</label>
            <input type="text" id="lastname" placeholder="Enter your Last Name" />
        </div>
        <div class="form-control">
            <label for="emailAddress" id="label-name">Email Address</label>
            <input type="text" id="emailAddress" placeholder="Enter your Email Address" />
            <span class="error emailErr"></span>
        </div>
        <div class="form-control">
            <label for="password" id="label-name">Password</label>
            <input id="password" type="password" placeholder="******" minlength="6" data-error="Password must be at least 6 characters long" required>
        </div>

        <div class="form-control">
            <label for="confirmPassword" id="label-name">Confirm Password</label>
            <input id="confirmPassword" type="password" placeholder="******" required>
            <span class="error passwordErr"></span>
        </div>
        <div class="form-control">
            <label for="NID" id="label-name">National Identity Number</label>
            <input id="NID" type="text" placeholder="National Id" required>
        </div>

        <div class="form-control">
            <label for="dob" id="label-name">Date of Birth</label>
            <input id="dob" type="date" required>
        </div>

        <div class="form-control">
            <label for="phoneNumber" id="label-name">Phone Number</label>
            <input id="phoneNumber" type="tel" required>
        </div>


        <div class="center pointer">
            <button id="btnRegister">Register</button>
            <div>
                <span class="error" id="registerEr"></span>
            </div>
            <span class="link" onclick="window.location = '@Url.Action("Index", "Login")'">Already have an account? Sign In</span>
        </div>
    </form>

</body>


