<!DOCTYPE html>
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/css/Style.css">
    <script type="text/javascript" src="~/Scripts/Update.js"></script>
    <script type="text/javascript" src="~/Scripts/AjaxScript.js"></script>
    <title>University Registration</title>
</head>
<body>
    <div class="topnav">
        <a href="/Home/HomeStudent"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="" class="active"><i class="fa fa-user fa-fw"></i>Update Profile</a>
        <a href="/Login/Logout" class="split"><i class="fa fa-user fa-fw"></i>Logout</a>
    </div>
    <form class="container">
        <legend>
            Update Profile
        </legend>

        <div class="row">
            <label>Results</label>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="subject1">Subject:  </label>
                    <select class="subjects" id="subject1" required>
                        <option>Select a subject</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="grade1">Grade:  </label>
                    <select class="grades" id="grade1" required>
                        <option value="-1">Select your grade</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="subject2">Subject:  </label>
                    <select class="subjects" id="subject2">
                        <option>Select a subject</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="grade2">Grade:  </label>
                    <select class="grades" id="grade2">
                        <option value="-1">Select your grade</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="subject3">Subject:  </label>
                    <select class="subjects" id="subject3">
                        <option>Select a subject</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="grade3">Grade:  </label>
                    <select class="grades" id="grade3">
                        <option value="-1">Select your grade</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <span id="resultErr" class="error"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="guardianName">Guardian Name: </label>
            </div>
            <div class="row">
                <input id="guardianName" type="text" placeholder="Guardian Name" title="Guardian name is required" required>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="street">Street: </label>
            </div>
            <div class="row">
                <input id="street" type="text" placeholder="Street" title="Street is required" required>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="city">City: </label>
            </div>
            <div class="row">
                <input id="city" type="text" placeholder="City" title="City is required" required>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="country">Country: </label>
            </div>
            <div class="row">
                <input id="country" type="text" placeholder="Country" title="Country is required" required>
            </div>
        </div>
        <div class="center pointer">
            <button id="updateBtn">Update Profile</button>
            <div>
                <span class="error" id="updateEr"></span>
            </div>
        </div>
    </form>




</body>
</html>