@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/css/Style.css">
    <script type="text/javascript" src="~/Scripts/Update.js"></script>
    <script type="text/javascript" src="~/Scripts/AjaxScript.js"></script>
    <title>University Registration</title>
</head>
<body>
    <div class="topnav">
        <a href="/Home/HomeStudent"><i class="fa fa-fw fa-home"></i>Home</a>
        <a class="active" href=""><i class="fa fa-pencil fa-fw"></i>Update Details</a>
        <a href="/Login/Logout" class="split"><i class="fa fa-user fa-fw"></i>Logout</a>
    </div>
    <form class="container">
        <legend>
            Update Profile
        </legend>

        <div class="row">
            <label>Results</label>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="subject1">Subject:  </label>
                    <select class="subjects" id="subject1" required>
                        <option>Select a subject</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="grade1">Grade:  </label>
                    <select class="grades" id="grade1" required>
                        <option>Select your grade</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="subject2">Subject:  </label>
                    <select class="subjects" id="subject2" required>
                        <option>Select a subject</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="grade2">Grade:  </label>
                    <select class="grades" id="grade2" required>
                        <option>Select your grade</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="subject3">Subject:  </label>
                    <select class="subjects" id="subject3" required>
                        <option>Select a subject</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="grade3">Grade:  </label>
                    <select class="grades" id="grade3" required>
                        <option>Select your grade</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="guardianName">Guardian Name: </label>
                <input id="guardianName" type="text" placeholder="Guardian Name" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="street">Street: </label>
                <input id="street" type="text" placeholder="Street" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="city">City: </label>
                <input id="city" type="text" placeholder="City" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="country">Country: </label>
                <input id="country" type="text" placeholder="Country" required>
            </div>
        </div>

        <div class="center pointer">
            <button>Update Profile</button>
        </div>
    </form>




</body>
</html>