body {
    background-image: url("/Content/Images/log.jpg");
    background-size: cover;
    font-family: Gabriola;
    color: whitesmoke;
    font-size: x-large;
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: whitesmoke;
}

button {
    background-color: #808000;
    color: white;
    margin: 8px 0;
    font-family: Gabriola;
    font-size: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(252, 252, 252);
    border-radius: 15px 10px;
}

.center {
    align-items: center;
    justify-content: center;
    display: grid;
}

button:hover {
    background-color: #20B2AA;
}

input, select, textarea {
    margin: 2% 0;
    border: 3px solid rgb(252, 252, 252);
    border-radius: 15px 10px;
    box-sizing: border-box;
    color: black;
    width: 50%;
    height:50px;
    margin-left: 2%;
}

label, a {
    color: white;
}

.pointer {
    cursor: pointer;
}

.link:hover {
    color: red;
}

.container {
    box-sizing: border-box;
    border: 3px solid rgb(252, 252, 252);
    border-radius: 50px 10px;
    width: 60%;
    display: grid;
    margin-top:5%;
    margin-left:20%;
    padding-left: 2%;
}
