<!DOCTYPE html>
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/css/Style.css">
    <script type="text/javascript" src="~/Scripts/StudentHome.js"></script>
    <script type="text/javascript" src="~/Scripts/AjaxScript.js"></script>
    <title>University Registration</title>
</head>
<body>
    <div class="topnav">
        <a class="active"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="/Login/Logout" class="split"><i class="fa fa-user fa-fw"></i>Logout</a>
        <a href="/Student/UpdateProfile" id="updateProfileLink"><i class="fa fa-pencil-square-o"></i> Update Profile</a>
    </div>
    <h1>
        My Details
    </h1>
    <div class="studentTable">
        <table id="studentsInfo">
            <thead>
                <tr>
                    <td>
                        Subjects
                    </td>
                    <td>
                        Grades
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>





</body>
</html>