
@{
    ViewBag.Title = "Login";
}

<!Doctype html>

<head>
    <title>Login form</title>
    <style>
        body {
            background-image: url("loginImage.jpg");
        }

        legend {
            text-align: center;
            color: navy;
        }

        .formArea {
            margin: 10%;
            width: 75%;
            height: 125%;
            border: 2px solid black;
        }

        button {
            background-color: lightslategray;
            color: black;
            width: 75px;
            height: 25px;
        }

            button:hover {
                background-color: blue;
            }

        input {
            width: 25%;
        }

        label, a {
            color: black;
        }

        form {
            margin: 1%;
        }
    </style>
</head>
<body>
    <div class="formArea">
        <form>
            <legend>
                LOGIN FORM
            </legend><br>
            <label for="name">Username:</label>
            <input id="name" type="text"><br><br>
            <label for="password">PASSWORD:</label>
            <input id="password" type="password"><br><br>
            <button>LOGIN</button><br><br>
            <span><a href="#">FORGOT PASSWORD</a></span><br><br>
        </form>


    </div>
</body>

</html>

